#!/usr/sbin/nft -f

flush ruleset

table inet filter {

  chain input {
    type filter hook input priority 0;
    policy drop;

    iif lo accept
    ct state invalid drop
    ct state established,related accept

{% for rule in firewall_rules %}
    {{ rule.proto }} dport {{ rule.port }} accept comment "{{ rule.comment }}"
{% endfor %}

    ip protocol icmp accept
    ip6 nexthdr icmpv6 accept
  }

  chain forward {
    type filter hook forward priority 0;
    policy drop;
  }

  chain output {
    type filter hook output priority 0;
    policy accept;
  }

}